<div class="card" id="{{id}}">
    <div class="image">
        <img src="{{imgFilepath}}">
    </div>
    <div class="extra">
        Rating:
        <div class="ui star rating" data-rating="{{userRating}}"></div>
    </div>
</div>